apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- configmap.yaml
- service.yaml
- deployment.yaml

labels:
- includeSelectors: true
  pairs:
    app: mlflow-server
    component: ml-tracking
