apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ml-dev

resources:
  - ../../base

patches:
  # Namespace
  - path: namespace-patch.yaml
    target:
      kind: Namespace
      name: ml-dev
  
  # PostgreSQL
  - path: postgres-mlflow-statefulset-patch.yaml
    target:
      kind: StatefulSet
      name: postgres-mlflow
  - path: postgres-mlflow-pvc-patch.yaml
    target:
      kind: PersistentVolumeClaim
      name: postgres-mlflow-data
  
  # MinIO
  - path: minio-mlflow-deployment-patch.yaml
    target:
      kind: Deployment
      name: minio-mlflow
  - path: minio-mlflow-pvc-patch.yaml
    target:
      kind: PersistentVolumeClaim
      name: minio-mlflow-data
  
  # Ray Service (KubeRay)
  - path: ray-service-patch.yaml
    target:
      kind: RayService
      name: anomaly-detector

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      environment: development
      managed-by: argocd
      platform: minikube

commonAnnotations:
  contact: maikerdralcantara@gmail.com
  documentation: https://github.com/maikereis/anomaly-detection-system