apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-mlflow
spec:
  selector:
    matchLabels:
      app: minio-mlflow
  serviceName: minio-mlflow
  template:
    spec:
      containers:
        - name: minio-mlflow
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 512Mi

          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /minio/health/ready
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
