apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-mlflow
spec:
  selector:
    matchLabels:
      app: minio-mlflow
  serviceName: minio-mlflow
  template:
    spec:
      containers:
        - name: minio-mlflow
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 512Mi
          livenessProbe:
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
