apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-mlflow
spec:
  selector:
    matchLabels:
      app: postgres-mlflow
  serviceName: postgres-mlflow
  template:
    spec:
      containers:
        - name: postgres-mlflow
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          livenessProbe:
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
