apiVersion: apps/v1
kind: Deployment
metadata:
  name: ray-serve
spec:
  selector:
    matchLabels:
      app: ray-serve
  template:
    spec:
      containers:
        - name: ray-serve

          resources:
            requests:
              cpu: 200m
              memory: 384Mi
            limits:
              cpu: 800m
              memory: 1536Mi

          livenessProbe:
            initialDelaySeconds: 120
            periodSeconds: 20
            timeoutSeconds: 10
            failureThreshold: 5

          readinessProbe:
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 5
