apiVersion: apps/v1
kind: Deployment
metadata:
  name: ray-serve
spec:
  selector:
    matchLabels:
      app: ray-serve
  template:
    spec:
      containers:
        - name: ray-serve

          resources:
            requests:
              cpu: 1000m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 2Gi

          readinessProbe:
            initialDelaySeconds: 120
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 5
