apiVersion: ray.io/v1
kind: RayService
metadata:
  name: anomaly-detector
spec:
  serviceUnhealthySecondThreshold: 1200
  deploymentUnhealthySecondThreshold: 600

  serveConfigV2: |
    applications:
      - name: anomaly_detector
        import_path: src.production:app
        
        deployments:
          - name: AsyncAnomalyDetector
            num_replicas: 4
            max_concurrent_queries: 6
            ray_actor_options:
              num_cpus: 0.2
              memory: 268435456

  rayClusterConfig:
    headGroupSpec:
      rayStartParams:
        dashboard-host: "0.0.0.0"
        dashboard-port: "8265"
        metrics-export-port: "8080"
        num-cpus: "0"
        object-store-memory: "104857600"

      template:
        spec:
          imagePullSecrets:
            - name: ghcr-secret
          containers:
            - name: ray-head
              image: ghcr.io/maikereis/ray-serve-anomaly-detector:latest # for development

              envFrom:
                - configMapRef:
                    name: ray-serve-config
                - secretRef:
                    name: ray-serve-secret

              env:
                - name: RAY_GRAFANA_HOST
                  value: "http://prometheus-grafana.monitoring.svc:80"
                - name: RAY_PROMETHEUS_HOST
                  value: "http://prometheus-kube-prometheus-prometheus.monitoring.svc:9090"

              volumeMounts:
                - name: ray-logs
                  mountPath: /tmp/ray

              resources:
                requests:
                  cpu: "500m"
                  memory: "512Mi"
                limits:
                  cpu: "500m"
                  memory: "2Gi"

              livenessProbe:
                exec:
                  command:
                    - bash
                    - -c
                    - curl -f -s http://localhost:52365/api/local_raylet_healthz | grep success
                initialDelaySeconds: 30
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 3

              readinessProbe:
                exec:
                  command:
                    - bash
                    - -c
                    - curl -f -s http://localhost:52365/api/local_raylet_healthz | grep success
                initialDelaySeconds: 30
                periodSeconds: 10
                timeoutSeconds: 5
                failureThreshold: 3

          volumes:
            - name: ray-logs
              emptyDir: {}

    workerGroupSpecs:
      - replicas: 1
        minReplicas: 1
        maxReplicas: 1
        groupName: worker-group

        rayStartParams:
          num-cpus: "2"

        template:
          spec:
            imagePullSecrets:
              - name: ghcr-secret
            containers:
              - name: ray-worker
                image: ghcr.io/maikereis/ray-serve-anomaly-detector:latest # for development

                envFrom:
                  - configMapRef:
                      name: ray-serve-config
                  - secretRef:
                      name: ray-serve-secret

                volumeMounts:
                  - name: ray-logs
                    mountPath: /tmp/ray

                resources:
                  requests:
                    cpu: "1000m"
                    memory: "2Gi"
                  limits:
                    cpu: "2"
                    memory: "4Gi"

                livenessProbe:
                  exec:
                    command:
                      - bash
                      - -c
                      - curl -f -s http://localhost:52365/api/local_raylet_healthz | grep success
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3

                readinessProbe:
                  exec:
                    command:
                      - bash
                      - -c
                      - curl -f -s http://localhost:52365/api/local_raylet_healthz | grep success
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3

            volumes:
              - name: ray-logs
                emptyDir: {}
