apiVersion: apps/v1
kind: Deployment
metadata:
  name: training-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: training-api
  template:
    spec:
      containers:
        - name: training-api
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 256Mi
