apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  name: mlflow-runtime
spec:
  supportedModelFormats:
    - name: mlflow
      version: "2"
      autoSelect: true
  
  containers:
    - name: kserve-container
      image: ghcr.io/kserve/mlserver:1.5.0
      args:
        - --model-name={{.Name}}
        - --model-uri={{.ModelURI}}
        - --enable-docs-url=true
      
      env:
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow-server.ml-production.svc.cluster.local:5000"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: mlflow-secret
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: mlflow-secret
              key: AWS_SECRET_ACCESS_KEY
        - name: MLFLOW_S3_ENDPOINT_URL
          value: "http://minio-mlflow.ml-production.svc.cluster.local:9000"
        - name: MLFLOW_S3_IGNORE_TLS
          value: "true"
        - name: AWS_DEFAULT_REGION
          value: "us-east-1"
      
      resources:
        requests:
          cpu: "500m"
          memory: "1Gi"
        limits:
          cpu: "2000m"
          memory: "4Gi"
      
      ports:
        - containerPort: 8080
          protocol: TCP
          name: h2c
