apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  name: mlflow-runtime
spec:
  supportedModelFormats:
    - name: mlflow
      version: "2"
      autoSelect: true
  
  containers:
    - name: kserve-container
      image: ghcr.io/kserve/mlserver:1.5.0
      
      resources:
        requests:
          cpu: "500m"
          memory: "1Gi"
        limits:
          cpu: "2000m"
          memory: "4Gi"
      
      ports:
        - containerPort: 8080
          protocol: TCP
          name: h2c