apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ray-serve-metrics
  namespace: ml-dev
spec:
  selector:
    matchLabels:
      app: ray-serve
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s

      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_name]
          targetLabel: pod
        - sourceLabels: [__meta_kubernetes_namespace]
          targetLabel: namespace
        - sourceLabels: [__meta_kubernetes_pod_label_component]
          targetLabel: component
