apiVersion: v1
kind: Service
metadata:
  name: ray-serve
spec:
  type: ClusterIP
  selector:
    app: ray-serve
  ports:
    - name: serve
      port: 8000
      targetPort: 8000
    - name: dashboard
      port: 8265
      targetPort: 8265