apiVersion: v1
kind: Service
metadata:
  name: ray-serve
spec:
  selector:
    app: ray-serve
  ports:
    - name: serve
      port: 8000
      targetPort: 8000

    - name: metrics
      port: 8080
      targetPort: 8080

    - name: dashboard
      port: 8265
      targetPort: 8265
