apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
spec:
  mtls:
    mode: PERMISSIVE # Mantém o Istio ativo, mas permite comunicação plain text com pods sem sidecar (MinIO, Postgres). Pods com sidecar ainda usam mTLS entre si.
