apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-mlflow-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem
  storageClassName: standard
