apiVersion: apps/v1
kind: Deployment
metadata:
  name: training-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: training-api
  template:
    metadata:
      labels:
        app: training-api
    spec:
      initContainers:
        - name: wait-for-rabbitmq
          image: busybox:1.37.0
          command:
            - sh
            - -c
            - |
              until nc -z rabbitmq 5672; do
                echo "Waiting for RabbitMQ..."
                sleep 2
              done

      containers:
        - name: training-api
          image: ghcr.io/maikereis/training-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8030
              name: http

          envFrom:
            - configMapRef:
                name: training-api-config
            - secretRef:
                name: training-api-secret

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi

          livenessProbe:
            httpGet:
              path: /health
              port: 8030
            initialDelaySeconds: 10
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /health
              port: 8030
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3

      imagePullSecrets:
        - name: ghcr-secret
