apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - secret.yaml
  - service.yaml
  - deployment.yaml

labels:
  - includeSelectors: true
    pairs:
      app: training-api
      component: training
